
@font-face {
  font-family: "aftershok";
  src: url("./fonts/After_Shok-webfont.woff") format("woff");
}

body {
  background-color: white;
  color: white;
  font-size: 200%;
  font-family: arial;
  margin-left: 50px;
}

img {
  overflow: hidden;
}

button {
  color: white;
  background-color: white;
  border: 0;
  font-family: arial;
  font-size: 1em;
  margin: 5px;
  min-width: 200px;
  padding: 5px;

}

button:hover {
  font-family: Arial, monospace;
}

button:active{
    background-color: white;
}

#title_btn:hover, #title2_btn:hover {
  font-family: 'aftershok', arial, monospace;
  letter-spacing: .02em;
}

#issInformation{

background-color: yellow;

body: font-family: 'Dosis', sans-serif;
}
